<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <section id="about" class="about">
        <div class="about__inner">
            <div class="about__title">
                <img src="https://i.pinimg.com/736x/3b/b4/2f/3bb42f54e0dade9ad03ce493ac479a54.jpg" alt="">
            </div>
            <div class="about__desc">
                <div class="desc d1">
                    <div>HI, I’M TOM, I develop</div>
                    <h2>The Perfect<br/>Website</h2>
                    <div>for your business</div>
                </div>
                <div class="desc d2">
                    <div>and your</div>
                    <h2>Website<br/>Saviour</h2>
                    <div>by night</div>
                </div>
                <div class="desc d3">
                    <div>I’m a certified</div>
                    <h2>Webflow<br/>Partner</h2>
                    <div>by day</div>
                    <div>
                        Every website deserves a unique solution, whether it's advanced custom functionalities, a need for adequately set design systems for the simple creation of landing pages, or special custom animated projects.
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>