<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>js 컨텐츠</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <section id="section2" class="section2">
        <h2>Built to power<br />revenue heroes like you</h2>
        <div class="section2__inner">
            <div>
                <div class="tab">
                    <div class="tab__btn"><a href="#">tab1</a></div>
                    <div class="tab__btn"><a href="#">tab2</a></div>
                    <div class="tab__btn"><a href="#">tab3</a></div>
                    <div class="tab__btn"><a href="#">tab4</a></div>
                    <div class="tab__btn"><a href="#">tab5</a></div>
                </div>
                <div class="tab__contents">
                    <div class="content content1 active">
                        <div class="left">
                            <em>내용 1<br/>Pipeline that results in sales</em>
                            <button>code view</button>
                        </div>
                        <div class="right">
                            <em>Boost conversions</em>
                            <p>Let AI capture and analyze real-time buying intent signals across your digital landscape so you can route high-intent leads to the right reps instantly.</p>
                            <em>Boost conversions</em>
                            <p>Let AI capture and analyze real-time buying intent signals across your digital landscape so you can route high-intent leads to the right reps instantly.</p>
                        </div>
                    </div>
                    <div class="content content2">
                        <div class="left">
                            <em>내용 2<br/>Pipeline that results in sales</em>
                            <button>code view</button>
                        </div>
                        <div class="right">
                            <em>Boost conversions</em>
                            <p>Let AI capture and analyze real-time buying intent signals across your digital landscape so you can route high-intent leads to the right reps instantly.</p>
                            <em>Boost conversions</em>
                            <p>Let AI capture and analyze real-time buying intent signals across your digital landscape so you can route high-intent leads to the right reps instantly.</p>
                        </div>
                    </div>
                    <div class="content content3">
                        <div class="left">
                            <em>내용 3<br/>Pipeline that results in sales</em>
                            <button>code view</button>
                        </div>
                        <div class="right">
                            <em>Boost conversions</em>
                            <p>Let AI capture and analyze real-time buying intent signals across your digital landscape so you can route high-intent leads to the right reps instantly.</p>
                            <em>Boost conversions</em>
                            <p>Let AI capture and analyze real-time buying intent signals across your digital landscape so you can route high-intent leads to the right reps instantly.</p>
                        </div>
                    </div>
                    <div class="content content4">
                        <div class="left">
                            <em>내용 4<br/>Pipeline that results in sales</em>
                            <button>code view</button>
                        </div>
                        <div class="right">
                            <em>Boost conversions</em>
                            <p>Let AI capture and analyze real-time buying intent signals across your digital landscape so you can route high-intent leads to the right reps instantly.</p>
                            <em>Boost conversions</em>
                            <p>Let AI capture and analyze real-time buying intent signals across your digital landscape so you can route high-intent leads to the right reps instantly.</p>
                        </div>
                    </div>
                    <div class="content content5">
                        <div class="left">
                            <em>내용 5<br/>Pipeline that results in sales</em>
                            <button>code view</button>
                        </div>
                        <div class="right">
                            <em>Boost conversions</em>
                            <p>Let AI capture and analyze real-time buying intent signals across your digital landscape so you can route high-intent leads to the right reps instantly.</p>
                            <em>Boost conversions</em>
                            <p>Let AI capture and analyze real-time buying intent signals across your digital landscape so you can route high-intent leads to the right reps instantly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>