<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컨텐츠1</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <section id="section1" class="section1">
        <div class="section1__inner">
            <div class="site__wrap">
                <div class="site__item s1">
                    <div class="left">
                        <h2>Brand Strategy</h2>
                        <p>
                            In Africa where diversity and individuality define the business landscape, there's a growing need for customized solutions that cater to the unique challenges and aspirations of SMEs and MSMEs. That is why we are building an end-to-end vendor rails solution to bridge the digital divide for the over 45 Million SMEs and MSMEs operating on the continent, whether you're an artisan, farmer, retailer, or a growing enterprise; Connect, source, manage, and scale your business with our end-to-end vendor rails solution and dropship-Live like never before —all in a single place. 
                        </p>
                        <button>Get early access</button>
                    </div>
                    <div class="right">
                        <img src="https://framerusercontent.com/images/d0l9sMYEa4dlds2yKhGcUUtbgkc.png?scale-down-to=1024" alt="">
                    </div>
                </div>
                <div class="site__item s2">
                    <div class="left">
                        <h2>Visual Identity</h2>
                        <p>
                            In Africa where diversity and individuality define the business landscape, there's a growing need for customized solutions that cater to the unique challenges and aspirations of SMEs and MSMEs. That is why we are building an end-to-end vendor rails solution to bridge the digital divide for the over 45 Million SMEs and MSMEs operating on the continent, whether you're an artisan, farmer, retailer, or a growing enterprise; Connect, source, manage, and scale your business with our end-to-end vendor rails solution and dropship-Live like never before —all in a single place. 
                        </p>
                        <button>Get early access</button>
                    </div>
                    <div class="right">
                        <img src="https://framerusercontent.com/images/BYnpUDKdSd54SbwlDHR4QlRL1s.png?scale-down-to=1024" alt="">
                    </div>
                </div>
                <div class="site__item s3">
                    <div class="left">
                        <h2>Website</h2>
                        <p>
                            In Africa where diversity and individuality define the business landscape, there's a growing need for customized solutions that cater to the unique challenges and aspirations of SMEs and MSMEs. That is why we are building an end-to-end vendor rails solution to bridge the digital divide for the over 45 Million SMEs and MSMEs operating on the continent, whether you're an artisan, farmer, retailer, or a growing enterprise; Connect, source, manage, and scale your business with our end-to-end vendor rails solution and dropship-Live like never before —all in a single place. 
                        </p>
                        <button>Get early access</button>
                    </div>
                    <div class="right">
                        <img src="https://framerusercontent.com/images/oWW2qp3EdYGtV3IHnawpirNWK0.png?scale-down-to=1024" alt="">
                    </div>
                </div>
                <div class="site__item s4">
                    <div class="left">
                        <h2>Product</h2>
                        <p>
                            In Africa where diversity and individuality define the business landscape, there's a growing need for customized solutions that cater to the unique challenges and aspirations of SMEs and MSMEs. That is why we are building an end-to-end vendor rails solution to bridge the digital divide for the over 45 Million SMEs and MSMEs operating on the continent, whether you're an artisan, farmer, retailer, or a growing enterprise; Connect, source, manage, and scale your business with our end-to-end vendor rails solution and dropship-Live like never before —all in a single place. 
                        </p>
                        <button>Get early access</button>
                    </div>
                    <div class="right">
                        <img src="https://framerusercontent.com/images/ZMrD1mQBY2QTd2SCQBiPKZlIxww.png?scale-down-to=1024" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>